<div>
    <form>
        <input type="text" id="message" placeholder="Write your message here">
        <button id="send">Send</button>
    </form>
    <p></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>